/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 h1, h2, h3, p, li {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
 
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
 
  vertical-align: inherit;
  box-sizing: inherit;
 
  background: transparent;
 } 
ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

header {
  border-bottom: 2px solid green;
  width: 100%;
  margin: 0 0 20px 0;
}

.header-nav {
  width: 90%;
  margin: 0 auto;
  display: block;
}

#logo {
  width: 200px;
  height: auto;
  margin: 10px;
  font-weight: bold;
  float: left;
}
#header-search {
  width: 200px;
  float: right;
  transform: translateY(60%);
  position: relative;
}

body {
  background: #eee;
}

main {
  margin: 0 auto;
  width: 900px;
}

.content-main {
  float: left;
  display: block;
  width: 600px;
  margin: 0 auto;
}
.content-sidebar {
  display: block;
  float: right;
  width: 300px;
  background: blue;
  margin-top: 10px;
}

.article-index-item {
  background: white;
  padding: 10px;
  margin: 20px;
  border: 1px solid gray;
}

.article-index-item > h2 {
  font-size: 24px;
  font-weight: bold;
}

.article-index-item > img {
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
}

.editor {
  width: 95%;
  margin: 0 auto;
}
