/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require quill.snow.css
 *= require quill.base.css
 */



 button, div, nav, header, span, h1, a, h2, h3, p, li {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
 
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
 
  vertical-align: inherit;
  box-sizing: inherit;
 
  background: transparent;
} 

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


body {
  background: #FAFAFA;
  font-family: roboto;
}

main {
  margin: 0 auto;
  width: 1300px;
}

.content-main {
  float: left;
  display: block;
  width: 800px;
  margin: 0 auto;
}

section.content-sidebar {
  display: block;
  float: right;
  width: 400px;
  /*background: blue;*/
  /*margin-top: 40px;*/
  margin-left: 20px;
  height: 100%;
}

.author-thumb {
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
}
.tag {
  /*font-size: 18px;*/
  padding: 4px 15px;
  background: white;
  text-align: center;
  margin: 5px 10px;
  display: inline-block;
}

/*nav > a.tag {
  margin: 5px 7px;
}*/

.article-card {
  margin: 10px;
}

.auth-form {
  width: 90%;
  margin: 20px auto;
}

.article-detail {
  width: 90%;
  margin: 15px auto;
  font-size: 19px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  line-height: 1.77777;
}


.article-card button > span{
  width: 30px;
  margin: auto;
}

button.article-index-bookmark {
  float: right;
  height: 50px;
}

.card-read-more {
  left: 200px;  
}

.auto-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.auto-leave {
  opacity: 1;
  transform: translateY(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 500ms, transform 500ms;
}

#user-icon {
  color:black;
}

img.article-detail-image {
  position: relative;
  width: 100%;
}

.article-detail > h1 {
  font-size: 30px;
}

.user-action-button-header {
  float: right;
  margin: 17px 15px 0 0;
}
.user-action-button-header > * {
  float: left;
}

#main-editor {
  background: white;
  height: 444px;
}

/*.medium-editor-anchor-preview {
  background: orange;
  height: 300px;
}

.medium-editor-toolbar {
  background: blue;
}
.medium-editor-toolboar > ul {
  margin: 0 auto;
}
.medium-editor-toolbar > ul > li {
  /*float: right;*/
/*}*/

.article-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.article-picture-preview {
  position: absolute;
  max-height: 205px;
  width: auto;
  top: 0;
  left: -2px;
}

.dropzone {
  position: relative;
  float: right;
}
.article-attrs {
  overflow: auto;
  margin: 10px 50px;
}