/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require quill.snow.css
 *= require quill.base.css
 */



 button, div, nav, header, span, h1, a, h2, h3, p, li {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
 
  font: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
 
  vertical-align: inherit;
  box-sizing: inherit;
 
  background: transparent;
} 

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


body {
  background: #FAFAFA;
  font-family: roboto;
}

main {
  margin: 0 auto;
  /*width: 1300px;*/
}

.content-main {
  float: left;
  display: block;
  width: 60%;
  margin: 0 auto;
}
#sidebar-wrap {
  float:right;
  width: 35%;
  left: 60%;

}
#content-sidebar {
  display: block;
  float: left;
  /*width: 400px;*/
  /*left: 900px;*/
  /*position: fixed;*/
  /*background: blue;*/
  /*margin-top: 40px;*/
  margin-left: 7%;
  margin-right: 10%;
  height: 100%;
}

.author-thumb {
  width: 60px;
  height: 60px;
  z-index: 2;
  border-radius: 50%;
}
.tag {
  /*font-size: 18px;*/
  padding: 4px 15px;
  background: white;
  text-align: center;
  margin: 5px 10px;
  display: inline-block;
}

/*nav > a.tag {
  margin: 5px 7px;
}*/

.article-card {
  margin: 10px;
}
.article-card-header:hover {
  cursor: pointer;
}

.auth-form {
  width: 90%;
  margin: 20px auto;
}

.article-detail {
  width: 90%;
  margin: 15px auto;
  font-size: 19px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  line-height: 1.77777;
}


.article-card button > span{
  width: 30px;
  margin: auto;
}

button.article-index-bookmark {
  float: right;
  height: 50px;
}

.auto-enter {
  opacity: 0.01;
  transform: translateX(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.auto-leave {
  opacity: 1;
  transform: translateX(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateX(500%);
  transition: opacity 500ms, transform 500ms;
}

#user-icon {
  color:black;
}
.article-card-image:hover {
  cursor: pointer;
}
.article-card-title:hover {
  cursor: pointer;
}
img.article-detail-image {
  position: relative;
  width: 100%;
}

.article-detail > h1 {
  font-size: 30px;
}

#main-editor {
  background: white;
  height: 444px;
}
.article-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.fetch-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

.auth-form-container {
  width: 53%;
  margin: 5px auto;
}

.auth-form-button > button span {
  text-transform: none !important;
}

.auth-form > div {
  width: 100% !important;
}
.comment-form {
  margin-bottom: 100px;
}
@media only screen and (min-width: 1320px) {
  #content-sidebar {
    display: block;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1320px) {
  #content-sidebar {
    display: none;
  }
  .card-read-more {
    left: 100px;
  }
  main {
    width: 100%;
  }
  .content-main {
    width: 92%;
    float: none;
    margin: 0 auto;
  }

}