#article-picture-preview {
  position: absolute;
  max-height: 195px;
  max-width: 195px;
}

#dropzone {
  position: absolute;
  top: 10%;
  right: 0;
  width: initial !important;
}
.article-attrs {
  position: relative;
  overflow: auto;
  margin: 10px 50px;
}

.article-attrs > div {
	width: 70% !important;
}

.dropzone-text {
  text-align: center;
  margin-top: 30%;
}

#main-editor {
  background: white;
  height: 444px;
}
