.article-detail-view {
  max-width: 900px;
  margin: 0 auto;
  
}
.article-detail {
  margin: 0 auto;
  width: 90%;
  font-size: 19px;
  background: white;
  padding: 50px 20px 20px 20px;
  border: 1px solid #ccc;
  line-height: 1.77777;
}

img.article-detail-image {
  object-fit: cover;
  width: auto;
  height: 100%;
}

.article-detail > div > h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.article-progress {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

