.auth-form-button div > span {
	text-transform: none !important;
}

.auth-form {
  width: 90%;
  margin: 20px auto;
}

.auth-form-container {
  width: 53%;
  margin: 5px auto;
}

.auth-form-button {
  width: 100%;
}

.auth-form-button.facebook > div > div {
  background: royalblue;
}
.auth-form-button.google > div > div {
  background: red;
}
.auth-form-button.facebook > div > div > span {
  color: white;
}
.auth-form-button > div > div > span {
  text-transform: none !important;
}


.auth-form > div {
  width: 100% !important;
}
