header.header {
  background: white;
  height: 70px;
}
.header-nav {
  // height: 60px;
  width: 90%;
  // display: block;
  font-size: 24px;
}


#searchbutton {
  float: right;
  top: 13px;
  margin-right: 10px;
}

.header-right {
  float: right;
  width: 500px;
}

#logo {
  background-image: image-url('logo.png');
  background-size: 100%;
  width: 110px;
  height: 50px;
  position: absolute;
  top: 6px;
  margin: 5px 5px 0 30px;
  float: left;
}
#logo:hover {
  cursor: pointer;
}
.user-login-button-header {
  text-transform: none !important;
  top: 20px;
  float: right;
}
.user-action-button-header {
  float: right;
  // padding: 6px !important;
  position: relative;
  width: 50px !important;
  top: 13px;
  // margin: 5px 25px 0 0 !important;
}
// .user-action-button-header > * {
//   float: left;
// }
// #header-user-icon {
//   height: 100% !important;
//   width: 100% !important;
// }
// .user-action-button-header > .header-right-nav > button {
//   height: 50px !important;
//   width: 50px !important;
// }