header.header {
  background: white;
  height: 70px;
  margin-bottom: 30px;
}
.header-nav {
  height: 60px;
  width: 90%;
  display: block;
  font-size: 24px;
}

.header-nav-left {
  float: left;
}

.header-nav-right {
  float: right;
}

div.header-searchbar {
  width: 200px;
  height: 10px;
}

#logo {
  background-image: image-url('logo.png');
  background-size: 100%;
  width: 110px;
  height: 50px;
  margin: 5px 5px 0 30px;
  float: left;
}
#logo:hover {
  cursor: pointer;
}

.user-action-button-header {
  float: right;
  padding: 6px !important;
  margin: 5px 25px 0 0 !important;
  text-transform: none !important;
}
.user-action-button-header > * {
  float: left;
}
// #header-user-icon {
//   height: 100% !important;
//   width: 100% !important;
// }
// .user-action-button-header > .header-right-nav > button {
//   height: 50px !important;
//   width: 50px !important;
// }