.auto-enter {
  opacity: 0.01;
  transform: translateX(-500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1500ms, transform 1500ms;
}

.auto-leave {
  opacity: 1;
  transform: translateX(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateX(-500%);
  transition: opacity 1500ms, transform 1500ms;
}
.placeholder {
  background-color: #f6f6f6;
  background-size: auto auto;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.placeholder img.loaded {
  opacity: 1;
}

.img-small {
  filter: blur(50px);
}
